*{
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}

.parte1{
    display: flex;
    justify-content: center;
    padding: 85px;
}

.logotipo{
    display: flex;
    height: 130px;
    padding: 30px;
}

.nombre1{
    display: flex;
    height: 140px;
} 

.principal2{
display: flex;
justify-content: space-around;
text-decoration: none;
padding: 20px;
color: white;
background-color: white;
font-family: 'Bebas Neue', cursive;
font-size: 35px;
margin: 0px -8px;
}

.rute{
    font-size: 40px;
    color: black;
    text-decoration: none;
    transition: transform.2s;
}

.rute:hover{
    transform: scale(1.1);
}

.palabraRute{
    font-size: 40px;
    color: rgb(212, 0, 0);
    text-decoration: none;
    transition: transform.2s;
}

.palabraRute:hover{
    transform: scale(1.1);
}

.containerPadre{
    background-image: url(../img/backrojo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px 0px 110px 0px;
}

.containerBebe{   
    padding: 85px 65px 10px 65px;
}

.containerBebeFyB{
    background-image: url(../img/backrojo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 85px 65px 115px 65px;
}

.subtituloFyB{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    color: white;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: -10px;
}

.subtitulo{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    align-self: flex-end;
    font-size: 50px;
    margin: 30px;
}

.populares{
    display: flex;
    justify-content: space-around;
    padding: 5px 100px; 
}

article{
    display: block;
}

.item{
    font-family: 'Red Hat Text', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}

.item img{
    height: 400px;
}

.taquilla{
    width: 300px;
    transition: transform.2s;
}

.taquilla:hover{
    transform: scale(1.1);
}

.masvisto{
    display: flex;
    justify-content: space-around;
    padding: 5px 100px; 
}

.valoradas{
    display: flex;
    justify-content: space-around;
    padding: 5px 100px; 
}

.pie{
    background-image: url(../img/fondo\ footer.jpg);
    margin: 10px 0px -10px 0px;
    font-size: 40px;
    color: white;
    padding: 35px;
    font-family: 'Bebas Neue', cursive;
}



.fa-brands{
    color: white;
}

.minilogoBJ{
    display: flex;
    justify-content: left;
    height: 85px;
}



.containerG{
    display: flex;
    justify-content: center;
}

.generos{
    text-align: center;
}

.titulo-lista1{
    color: red;
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    margin: 80px 80px 30px 80px;
}

.lista_generos{
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
}

.list{
    color: white;
    text-decoration: none;
    transition: transform.2s;
}

.list:hover{
    transform: scale(2.1);
}


.fotodetalle{
    margin: 60px 50px;
    width: 400px;
}

.containerDetalle{
    display: flex;
}

.containerDetaGenero{
    display: flex;
    font-size: 20px;
}

.detallegenero h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    color: rgb(160, 3, 3);
    letter-spacing: 4px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 80px;
    text-align: center;
}

.detalleSevenContenido{
    color: white;
    font-size: 50px;
    font-family: 'Red Hat Text', sans-serif;
}

.d1{
    font-size: 20px;
}
.d10{
    font-size: 30px;
}

.d2{
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: white;
}

.barrablanca{
display: flex;
text-align: left;
text-decoration: none;
padding: 20px;
margin: 0px -5px;
background-color: rgba(255, 255, 255, 0.144);
color: black;
justify-content: space-around;
}

.nuevasRutes{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.863);
    color: rgb(0, 0, 0);
    transition: transform.2s;
    border-radius: 100px;
    padding: 15px;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.nuevasRutes:hover{
    transform: scale(1.1);
}

.buscar input{
    width: 250px;
    height: 60px;
    padding: 0px 20px;
    font-size: 25px;
    color: rgb(73, 73, 73);
    outline: none;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.detallegenero{
    color: white;
    font-size: 50px;
    font-family: 'Red Hat Text', sans-serif;

}

.contenidoDG{
    color: white;
    font-size: 30px;
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    padding: 0px 80px 0px 80px;

}


.trailerclass{
    color: red;
    font: 25px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
}

summary{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.d3{
    color: red;
    font-size: 25px;
    margin-top: -31px;
    margin-left: 30px;
}

.logis{
    display: flex;
justify-content: center;
justify-content: space-around;
    margin-right: 415px;
    margin-left: 415px;
    margin-bottom: -10px;
    transition: transform.2s;
}

.logis:hover{
    transform: scale(1.1);
}

.telefonosfoot{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: #b8b4c59c;
    font-size: 25px;
    margin-bottom: 40px;
}

.nombresFoot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 6
    0px;
}

.DHLogo{
    height: 95px;
    display: flex;
    justify-content: center;
    margin: 90px;
    justify-content: space-around;
}

.form-registro{
    color: rgb(255, 245, 245);
    background-color: rgb(119, 4, 4);
    width: 500px;
    padding: 40px;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family: 'Red Hat Text', sans-serif;    
}

.form-registro h3{
    color: black;
    font-size: 25px;
    font-family: 'Red Hat Text', sans-serif;
    letter-spacing: 2px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.volver-form{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.form-casilla{
    width: 420px;
    display: grid;
    padding: 5px;
    font-size: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-registro button{
    background-color: rgba(0, 0, 0, 0.336);
    font-size: 25px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0) ;
    padding: 5px;
    margin: 5px;
}

.bodyForm{
    font-family: 'Bebas Neue', cursive;
}

.rutasGen{
    color: red;
    text-decoration: none;
}

.subtituloDG{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    color: rgb(160, 3, 3);
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: -10px;
}

.aboutUS{
    color: white;
    font-size: 20px;
    font-family: 'Red Hat Text', sans-serif;
}

.aboutUS h1{
    color: red;
    margin-top: 5px;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}

.imgHOME{
    text-decoration: none;
    color: red;
    font-size: 25px;
    border-radius: 5px;
    padding: 35px;
    margin-top: 75;
    font-family: 'Bebas Neue', cursive;
}

.logisAU{
    display: flex;
    font-size: 70px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.redesSociales{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.parrafoLogis{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.containerAU{
    padding: 20px;
}

.containerBebeDG{   
    padding: 65px 65px 0px 65px;
}

@media (max-width:420px){
    
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .principal2{
        background-color: white;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        
    }

    .rute{
        display: flex;
        font-size: 45px;
        margin: -80px;
        
    }

    .populares{
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .masvisto{
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .valoradas{
        display: flex;
        justify-content: space-around;
    }

}

